<div>
  <div class="loginImage">
    <img src="/assets/emoji.png" alt="">
  </div>
  
  <div class="loginFlow" [formGroup]="loginForm"> 
    <div class="email-div">
      <ion-input label="Name" formControlName="name" label-placement="stacked" fill="outline" placeholder="Enter name" style="height: 36px;"></ion-input>
    </div>
    <div class="email-div">
      <ion-input label="Email" formControlName="email" label-placement="stacked" fill="outline" placeholder="example@gmail.com" style="height: 36px;"></ion-input>
    </div>
    <div class="password-div">
     
        <ion-input label="Password" formControlName="password" label-placement="stacked" fill="outline"  #passwordInput type="{{ passwordFieldType }}" placeholder="Enter Password">
          <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-input>
  
    </div>
    <div class="button">
      <ion-button fill="solid" (click)="routeToPage()">
        Login
      </ion-button>
    </div>
  </div>
</div>
